In [121]:
import pandas as pd

In [122]:
movies=pd.read_csv('../datasets/tmdb.movies.csv', index_col=0)
movies.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [123]:
movies.isnull().sum()

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [124]:
movies.columns

Index(['genre_ids', 'id', 'original_language', 'original_title', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [125]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [126]:
budgets = pd.read_csv("../datasets/tn.movie_budgets.csv")
budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [127]:
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [128]:
budgets.isnull().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [129]:
budgets.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [130]:
def currency(col):
    """Removes '$' and ',' from a column and converts it to numeric."""
    return pd.to_numeric(col.str.replace('$', '').str.replace(',', ''))

In [131]:
budgets['production_budget'] = currency(budgets['production_budget'])

In [132]:
budgets['domestic_gross'] = currency(budgets['domestic_gross'])

In [133]:
budgets['worldwide_gross'] = currency(budgets['worldwide_gross'])

In [134]:
# converting date to datetime
budgets['release_date'] = pd.to_datetime(budgets['release_date'])

In [135]:
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   int64
 4   domestic_gross     5782 non-null   int64
 5   worldwide_gross    5782 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 271.2+ KB

In [136]:
joined_df = pd.merge(
    budgets,
    movies,
    left_on='movie',         # Movie title from budgets dataset
    right_on='original_title', # Original title from movies dataset
    how='inner'                # Only keep rows that match in BOTH DataFrames
)

In [137]:
print("\nMerged DataFrame Info:")
print(f"Shape of budgets: {budgets.shape}")
print(f"Shape of movies: {movies.shape}")
print(f"Shape of joined_df (Inner Join): {joined_df.shape}")
print("\nFirst 2 rows of Merged DataFrame:")
print(joined_df.head(2).T)

Merged DataFrame Info:
Shape of budgets: (5782, 6)
Shape of movies: (26517, 9)
Shape of joined_df (Inner Join): (2316, 15)

First 2 rows of Merged DataFrame:
                                     0  \
id_x                                 1
release_date_x     2009-12-18 00:00:00
movie                           Avatar
production_budget            425000000
domestic_gross               760507625
worldwide_gross             2776345279
genre_ids            [28, 12, 14, 878]
id_y                             19995
original_language                   en
original_title                  Avatar
popularity                      26.526
release_date_y              2009-12-18
title                           Avatar
vote_average                       7.4
vote_count                       18676

                                                             1
id_x                                                         2
release_date_x                             2011-05-20 00:00:00
movie              Pirates of the Caribbean: On Stranger Tides
production_budget                                    410600000
domestic_gross                                       241063875
worldwide_gross                                     1045663875
genre_ids                                         [12, 28, 14]
id_y                                                      1865
original_language                                           en
original_title     Pirates of the Caribbean: On Stranger Tides
popularity                                              30.579
release_date_y                                      2011-05-20
title              Pirates of the Caribbean: On Stranger Tides
vote_average                                               6.4
vote_count                                                8571

In [138]:
print(movies.columns)
print(budgets.columns)
print(joined_df.columns)

Index(['genre_ids', 'id', 'original_language', 'original_title', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')
Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')
Index(['id_x', 'release_date_x', 'movie', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'genre_ids', 'id_y',
       'original_language', 'original_title', 'popularity', 'release_date_y',
       'title', 'vote_average', 'vote_count'],
      dtype='object')

In [139]:
joined_df.head()

,id_x,release_date_x,movie,production_budget,domestic_gross,worldwide_gross,genre_ids,id_y,original_language,original_title,popularity,release_date_y,title,vote_average,vote_count
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,"[12, 28, 14]",1865,en,Pirates of the Caribbean: On Stranger Tides,30.579,2011-05-20,Pirates of the Caribbean: On Stranger Tides,6.4,8571
2,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457
3,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
4,9,2017-11-17,Justice League,300000000,229024295,655945209,"[28, 12, 14, 878]",141052,en,Justice League,34.953,2017-11-17,Justice League,6.2,7510

In [140]:
print((joined_df['movie'] == joined_df['original_title']).all())
print((joined_df['movie'] == joined_df['title']).all())

True
False

In [141]:
print((joined_df['release_date_y'] == joined_df['release_date_x']).all())

False

In [144]:
joined_df['release_date_y'].value_counts()

2015-11-20    15
2015-10-16    15
2015-10-23    12
2016-11-18    11
2016-11-04    10
              ..
2014-01-18     1
2013-12-19     1
2014-01-21     1
2011-08-10     1
2010-03-13     1
Name: release_date_y, Length: 1016, dtype: int64

In [145]:
joined_df['release_date_x'].value_counts()

2015-11-20    17
2014-12-31    13
2012-12-31    12
2016-11-18    12
2015-10-23    11
              ..
2017-12-13     1
1996-09-20     1
2012-06-27     1
2010-09-01     1
2014-01-24     1
Name: release_date_x, Length: 867, dtype: int64

In [142]:
joined_df['profit'] = joined_df['worldwide_gross'] - joined_df['production_budget']